<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container-form">
    <h2>Incription</h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="exemple@domaine.com"
      />
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        L’email est requis
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
        Format d’email invalide
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="texte"
        formControlName="username"
        placeholder="Username"
      />
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        L’email est requis
      </mat-error>
      <mat-error *ngIf="registerForm.get('username')?.hasError('username')">
        username invalide
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        placeholder="••••••••"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Basculer visibilité mot de passe'"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
        Le mot de passe est requis
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
        Au moins 6 caractères
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Inscription
    </button>
  </form>

</div>
