.container {
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.image-container{
  display: block;
  margin: 0 auto 20px;
  width: 20REM;

}
.container-form {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.full-width {
  width: 100%;
}
